@font-face {
  font-family: "IMPACT";
  src: url("../fonts/IMPACT.TTF");
}
@font-face {
  font-family: "INTRO";
  src: url("../fonts/INTRO.OTF");
}
@font-face {
  font-family: "e_PlakatCmpl";
  src: url(../fonts/PLAKAT.TTF) format("truetype");
}
@font-face {
  font-family: "a_plakatcmpl-extrabold";
  src: url(../fonts/a_plakatcmpl-extrabold.ttf);
}
