form {
  display: flex;
  flex-direction: column;
  background: #f9f9f9;

  span.form-control,
  label {
    color: rgb(72, 72, 72);
    display: block;
    font-family: "PT Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 14px;
    font-size-adjust: none;
    font-stretch: 100%;

    font-weight: 400;
    line-height: 18px;
    margin-bottom: 5px;
    margin-left: 14px;
    margin-right: 0px;
    margin-top: 5px;
    outline-color: rgb(72, 72, 72);
    outline-style: none;
  }

  input,
  textarea,
  select {
    border-color: #d9dddf;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    color: #4d4d4d;
    font-size: 13.3333px;
    font-size-adjust: none;
    font-weight: 400;
    height: 31px;
    padding-left: 5px;
  }
  textarea {
    height: auto;
  }

  .form-checkbox {
    position: absolute;
    opacity: 0;
    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
    }
    & + label:before {
      content: "";
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 20px;
      height: 20px;
      background: white;
      box-shadow: 0px 0px 0px 3px #fe9001 inset;
      transition: all 300ms;
    }
    &:hover + label:before {
      background: #fe9001;
    }
    &:focus + label:before {
      box-shadow: 0px 0px 0px 3px #fe9001 inset;
    }
    &:checked + label:before {
      background: #fe9001;
    }
    &:disabled + label {
      color: #b8b8b8;
      cursor: auto;
    }
    &:disabled + label:before {
      box-shadow: none;
      background: #ddd;
    }
    &:checked + label:after {
      content: "";
      position: absolute;
      left: 5px;
      top: 9px;
      background: white;
      width: 2px;
      height: 2px;
      box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
      transform: rotate(45deg);
    }
  }

  input[type="color"] {
    outline: none;
    box-shadow: none;
    border: none;
    background: none;
  }

  input[readonly],
  input[readonly="readonly"],
  input[readonly="true"] {
    background: #eee;
    cursor: no-drop;
    pointer-events: none;
  }

  .form-group-title {
    font-size: 18px;
    color: #484848;
    margin: 5px 10px 10px 10px;
    font-weight: bold;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    span.form-control,
    label.form-control {
      width: 100px;
    }
    input.form-control {
      flex-grow: 1;
    }
    select.form-control {
      flex-grow: 1;
    }
  }
  .form-group-column {
    display: flex;
    flex-direction: column;
  }
  .form-group-row {
    display: flex;
    flex-direction: row;
  }
  .hidden {
    display: none;
  }

  .form-control-submit {
    background-color: rgb(254, 144, 1);
    background-image: url("https://www.one-print.ru/design/img/check_order.svg");
    background-position: 35px 50%;
    background-position-x: 35px;
    background-position-y: 50%;
    background-repeat: no-repeat;

    border: none;
    border-radius: 7px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-kerning: auto;
    font-stretch: 100%;

    font-weight: 700;
    height: 45px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 5px;

    padding-bottom: 12px;
    padding-left: 0px;
    padding-right: 30px;
    padding-top: 12px;
    text-align: right;
    text-transform: uppercase;
    vertical-align: middle;
    width: 190px;
    cursor: pointer;

    &:hover,
    &:target,
    &:focus,
    &:active {
      background-color: #f5b723;
    }
  }
  ///
  .form_radio_btn {
    display: inline-block;
  }
  .form_radio_btn input[type="radio"] {
    display: none;
  }
  .form_radio_btn label {
    display: inline-block;
    cursor: pointer;
    padding: 0px 15px;
    line-height: 34px;
    border: 1px solid #999;
    border-radius: 6px;
    user-select: none;
  }
  .form_radio_btn input[type="radio"]:checked + label {
    background: #fe9001;
    color: #ffffff;
  }
  .form_radio_btn label:hover {
    color: #666;
  }
  .form_radio_btn input[type="radio"]:disabled + label {
    background: #efefef;
    color: #666;
  }
  ///

  .form-control-switch {
    width: 100%;
  }
  .form-control-switch input {
    display: none;
  }
  .form-control-switch label {
    cursor: pointer;
    padding-right: 35px;
    position: relative;
    display: block;
    padding: 15px 0;
  }
  .form-control-switch input[type="checkbox"],
  .form-control-switch input[type="radio"] {
    position: absolute;
    visibility: hidden !important;
  }
  .form-control-switch input[type="checkbox"] + label:before,
  .form-control-switch input[type="radio"] + label:before,
  .form-control-switch input[type="checkbox"] + label:after,
  .form-control-switch input[type="radio"] + label:after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -7.5px;
    box-sizing: border-box;
  }
  .form-control-switch input[type="checkbox"] + label:before,
  .form-control-switch input[type="radio"] + label:before {
    width: 30px;
    height: 15px;
    right: 0px;
    background: #fff;
    border: 1px solid #e4e3e1;
    border-radius: 15px;
  }
  .form-control-switch input[type="checkbox"] + label:after,
  .form-control-switch input[type="radio"] + label:after {
    width: 15px;
    height: 15px;
    right: 15px;
    background: #bdbdbd;
    border-radius: 50%;
    -webkit-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
  }
  .form-control-switch input[type="checkbox"]:checked + label:after,
  .form-control-switch input[type="radio"]:checked + label:after {
    right: 0px;
    background: #ff9800;
  }
  ///

  input[name="substrate-size-h"],
  input[name="substrate-size-w"] {
    padding: 0 10px;
    max-width: 75px;
    border-radius: 5px;
  }
  //

  h3.form-control-price {
    color: #fe9001;
    margin: 0 1rem;
    min-width: 160px;
    font-size: 16px;
    text-align: center;
    &.form-control-price-finally {
      font-size: 20px;
      font-weight: bold;
    }
  }
  input.form-control-price {
    flex-grow: 0;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 150px;
    font-size: 16px;
    color: #fe9001;
    background: none;
    border: none;
    &.form-control-price-finally {
      font-size: 20px;
      font-weight: bold;
    }
  }
  span.form-control-currency {
    color: #fe9001;
    margin: 0 1rem;
    &.form-control-currency-finally {
      font-size: 20px;
      font-weight: bold;
    }
  }
}
