.wrap {
  margin: auto;
  width: 730px;
}

@import "fonts";

.cll {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .cll-preview--fon-set-height {
    display: flex;
    align-items: center;
    position: absolute;
    height: 25px;
    z-index: 10;
    right: 10px;
    bottom: 35px;
    opacity: 0.25;
    transition: 300ms;
    background: white;
    padding: 3px 5px 3px 5px;
    border-radius: 5px;
    &:hover,
    &:target,
    &:active,
    &:focus {
      opacity: 1;
    }

    input[type="number"] {
      margin-right: 5px;
      margin-left: 5px;
      width: 45px;
      height: 100%;
      background: none;
      border: none;
    }
  }
  .cll-preview--fon-control {
    position: absolute;
    height: 100px;
    right: 0;
    bottom: 0;
    left: 0;

    height: 15px;
    padding: 10px;
    z-index: 10;

    opacity: 0.25;
    transition: 200ms all;
    &:hover,
    &:target,
    &:active,
    &:focus {
      opacity: 1;
    }

    .btn-l {
      display: flex;
      margin-right: 10px;
      width: 50px;
      cursor: pointer;
      img {
        object-fit: contain;
        transition: all 300ms;
      }
      &:hover,
      &:target,
      &:focus,
      &:active {
        img {
          transform: translateX(-10px);
        }
      }
    }
    .btn-r {
      display: flex;
      margin-right: 10px;
      width: 50px;
      cursor: pointer;
      img {
        object-fit: contain;
        transition: all 300ms;
      }
      &:hover,
      &:target,
      &:focus,
      &:active {
        img {
          transform: translateX(10px);
        }
      }
    }
  }

  .cll-preview {
    position: relative;
    background-color: #e9e9e9;
    min-height: 300px;
    height: 450px;
    .cll-preview--fon {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: 100%;
      width: 100%;
      object-fit: contain;

      z-index: auto;

      &.hidden {
        opacity: 0;
      }

      img {
        height: 100%;
      }
    }
  }
  .cll-preview-btns {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    background: #d7e9ed;

    .btn {
      display: flex;
      justify-content: stretch;
      align-items: center;
      margin: 0 0.25rem;
      height: 45px;
      width: 135px;
      border: none;
      border-radius: 5px;
      background: #fe9001;
      color: #ffffff;
      font-weight: 600;
      cursor: pointer;
    }
    .btn-fon {
      position: relative;
      background: #000;
      overflow: hidden;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transform: scale(1);
      }
      &:hover {
        &::before {
          transform: scale(1.5);
        }
      }
    }
    .btn-fon-1 {
      @extend .btn-fon;
      &::before {
        background-image: url("../img/fon-1.jpg");
      }
    }
    .btn-fon-2 {
      @extend .btn-fon;
      &::before {
        background-image: url("../img/fon-2.jpg");
      }
    }
    .btn-fon-3 {
      @extend .btn-fon;
      &::before {
        background-image: url("../img/fon-3.jpg");
      }
    }
    .btn-fon-4 {
      @extend .btn-fon;
      &::before {
        background-image: url("../img/fon-4.jpg");
      }
    }
  }

  .cli-panel-control {
    display: flex;
    flex-direction: column;

    @import "form-cli";
  }
  .cll-preview-text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60px;
    left: 175px;
    padding: 15px;
    font-family: Arial;
    font-size: 28px;
    font-weight: bold;
    white-space: nowrap;
    cursor: all-scroll;

    border: 3px dotted rgba(0, 0, 0, 0);
    transition: border 300ms;
    &:hover,
    &:target,
    &:active,
    &:focus {
      border: 3px dotted rgba(0, 0, 0, 0.75);
    }
  }

  .text-preview {
    color: #fe9001;
    font-size: 25px;
    line-height: 1;
    z-index: 2;
    &.hidden {
      display: none;
    }
  }
  .text-type-1 {
    text-shadow: 0px 0px 10px #fe9001, rgb(204, 204, 204) 0px 1px 0px, rgb(201, 201, 201) 0px 2px 0px, rgb(187, 187, 187) 0px 3px 0px, rgb(185, 185, 185) 0px 4px 0px, rgb(170, 170, 170) 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 6px 1px, rgba(0, 0, 0, 0.1) 0px 0px 5px, rgba(0, 0, 0, 0.3) 0px 1px 3px, rgba(0, 0, 0, 0.2) 0px 3px 5px,
      rgba(0, 0, 0, 0.25) 0px 5px 10px, rgba(0, 0, 0, 0.2) 0px 10px 10px, rgba(0, 0, 0, 0.15) 0px 20px 20px, 0px 6px 5px rgba(0, 0, 0, 1);
  }
  .text-type-2 {
    text-shadow: 2px 0px 2px #ffffff, 0px 2px 2px #ffffff, -2px 0px 2px #ffffff, 0px -2px 2px #ffffff, rgb(204, 204, 204) 0px 1px 0px, rgb(201, 201, 201) 0px 2px 0px, rgb(187, 187, 187) 0px 3px 0px, rgb(185, 185, 185) 0px 4px 0px, rgb(170, 170, 170) 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 6px 1px, rgba(0, 0, 0, 0.1) 0px 0px 5px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px, rgba(0, 0, 0, 0.2) 0px 3px 5px, rgba(0, 0, 0, 0.25) 0px 5px 10px, rgba(0, 0, 0, 0.2) 0px 10px 10px, rgba(0, 0, 0, 0.15) 0px 20px 20px, 0px 6px 5px rgba(0, 0, 0, 1);
  }
  .text-type-3 {
    text-shadow: rgb(204, 204, 204) 0px 1px 0px, rgb(201, 201, 201) 0px 2px 0px, rgb(187, 187, 187) 0px 3px 0px, rgb(185, 185, 185) 0px 4px 0px, rgb(170, 170, 170) 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 6px 1px, rgba(0, 0, 0, 0.1) 0px 0px 5px, rgba(0, 0, 0, 0.3) 0px 1px 3px, rgba(0, 0, 0, 0.2) 0px 3px 5px, rgba(0, 0, 0, 0.25) 0px 5px 10px,
      rgba(0, 0, 0, 0.2) 0px 10px 10px, rgba(0, 0, 0, 0.15) 0px 20px 20px, 10px 0px 15px #ffffff, 0px 10px 15px #ffffff, -10px 0px 15px #ffffff, 0px -10px 15px #ffffff, 0px 6px 5px rgba(0, 0, 0, 1);
  }
  .text-type-4 {
    text-shadow: rgb(204, 204, 204) 0px 1px 0px, rgb(201, 201, 201) 0px 2px 0px, rgb(187, 187, 187) 0px 3px 0px, rgb(185, 185, 185) 0px 4px 0px, rgb(170, 170, 170) 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 6px 1px, rgba(0, 0, 0, 0.1) 0px 0px 5px, rgba(0, 0, 0, 0.3) 0px 1px 3px, rgba(0, 0, 0, 0.2) 0px 3px 5px, rgba(0, 0, 0, 0.25) 0px 5px 10px,
      rgba(0, 0, 0, 0.2) 0px 10px 10px, rgba(0, 0, 0, 0.15) 0px 20px 20px, 0px 6px 5px rgba(0, 0, 0, 1);
  }
  .text-type-5 {
    text-shadow: 0px 6px 5px rgba(0, 0, 0, 1);
  }
  .text-type-6 {
    text-shadow: 1px 0px 0px #888, 0px 1px 0px #888, -1px 0px 0px #888, 0px -1px 0px #888, 10px 0px 15px #ffffff, 0px 10px 15px #ffffff, -10px 0px 15px #ffffff, 0px -10px 15px #ffffff, 0px 6px 5px rgba(0, 0, 0, 1);
  }

  .from-cli-question {
    width: 20px;
    margin: auto 15px;
    height: 20px;
    border-radius: 100%;
    background: #fe9001 url("../img/question-white.svg");

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    &:hover,
    &:target,
    &:focus,
    &:active {
      background-color: #f5b723;
    }
  }
  .from-cli-question-data {
    padding: 5px 30px 10px 30px;
    text-align: center;
    color: #575757;
  }

  #Substrate {
    position: absolute;
    background: #eeeeee;
    opacity: 1;
    z-index: 1;
    box-shadow: 1px 3px 9px #00000021;
    box-shadow: 0px 3px 10px #000;

    &.hidden {
      opacity: 0;
    }
  }
  #SubstrateMathH {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 25px;
    right: -25px;
    top: 0;
    bottom: 0;
    text-align: center;
    font-size: 18px;
    color: #fff;

    z-index: 100;
    background: rgba(0, 0, 0, 0.15);
    .p-start {
      display: flex;
      align-items: center;
      flex-grow: 1;
      background: url("../img/arrow-up-white.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 50%;
      min-height: 10px;
    }
    .value {
      display: flex;
      align-items: center;
      line-height: 1;
      font-size: 14px;
      flex-grow: 1;
    }
    .p-end {
      display: flex;
      align-items: center;
      flex-grow: 1;
      background: url("../img/arrow-down-white.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 50%;
      min-height: 10px;
    }
  }
  #SubstrateMathW {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 15px;
    left: 15px;
    bottom: -15px;
    color: #fff;
    z-index: 100;
    background: rgba(0, 0, 0, 0.15);
    .p-start {
      height: 15px;
      min-width: 30px;
      background: url("../img/arrow-left-white.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    .value {
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 1;
      font-size: 14px;
      flex-grow: 1;
    }
    .p-end {
      height: 15px;
      min-width: 30px;
      background: url("../img/arrow-right-white.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  #SliderHeightHandle {
    width: 75px;
    height: 1.6em;
    top: 50%;
    margin-top: -0.8em;
    text-align: center;
    line-height: 1.6em;
  }

  #SliderMoveFon {
    .ui-slider-handle {
      cursor: col-resize;
    }
  }

  #ColorTextFace,
  #ColorTextBoard {
    width: 100%;
  }

  //

  .align-items-center {
    align-items: center !important;
  }
  .justify-content-center {
    justify-content: center;
  }
  .p-0 {
    padding: 0 !important;
  }

  .disabled {
    pointer-events: none;
    opacity: 0.25;
  }
  //
}

.cli-message {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000000;

  &.active {
    display: flex;
  }

  &::before {
    content: "";
    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    z-index: -1;
    opacity: 0.5;
  }

  .message {
    width: 500px;
    .message-header {
      background-color: rgb(215, 233, 237);

      color: rgb(72, 72, 72);
      font-family: "PT Sans", sans-serif;
      font-kerning: auto;
      font-optical-sizing: auto;
      font-size: 18px;

      font-weight: 700;
      line-height: 18px;
      outline-color: rgb(72, 72, 72);
      padding-bottom: 15px;
      padding-top: 15px;
      text-align: center;
      text-transform: uppercase;
      vertical-align: baseline;
    }
    .message-body {
      display: flex;
      justify-content: center;
      padding: 15px;
      background: #ffffff;
      text-align: center;
      font-size: 18px;
      color: #3e3e3e;
    }
    .message-footer {
      display: flex;
      justify-content: center;
      padding: 15px;
      background: #ffffff;
    }

    .message--btn {
      background-color: #fe9001;
      background-image: url("https://www.one-print.ru/design/img/check_order.svg");
      background-position: 35px 50%;
      background-position-x: 10px;
      background-position-y: 50%;
      background-repeat: no-repeat;
      border: none;
      border-radius: 7px;
      box-sizing: border-box;
      color: #fff;
      font-kerning: auto;
      font-stretch: 100%;
      font-weight: 700;
      height: 45px;
      margin-bottom: 5px;
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 5px;
      padding-bottom: 12px;
      padding-left: 0px;
      padding-right: 30px;
      padding-top: 12px;
      text-align: right;
      text-transform: uppercase;
      vertical-align: middle;
      width: auto;
      min-width: 105px;
      cursor: pointer;

      &:hover,
      &:target,
      &:focus,
      &:active {
        background-color: #f5b723;
      }
    }
  }
}
